<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL App</h1>
  <div class="about__container">
    <p class="about__paragraph">
        Angular 13 + Rick and Morty GraphQL API
        Angular 13 + Rick and Morty GraphQL API
        Angular 13 + Rick and Morty GraphQL API
        Angular 13 + Rick and Morty GraphQL API
        Angular 13 + Rick and Morty GraphQL API
        Angular 13 + Rick and Morty GraphQL API
        Angular 13 + Rick and Morty GraphQL API
    </p>
    <figure class="about__img">
      <img
        src="assets/img/RickAndMorty.jpg"
        alt="rick"
        class="about__picture"
        rel="preload"
        as="image"
        width="406"
      />
    </figure>
  </div>
  <p class="about__copy">
    Develop by <span>Ricardo Noya</span>
  </p>
</section>
